body {
  background-color: #3d5a80;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bakery-item{
  background-color: #98c1d9;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.items{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.sort{
  width: 25%;
}

